<div class="palm-scrim" style="display: none;"><div x-mojo-element="Spinner" name="spinner" class="spinner"></div></div>

<div class="palm-header left">
  <div id="address-drawer" class="closed"></div>
  <div id="name" class="truncating-text"></div>
</div>

<div class="palm-header-spacer"></div>

<div x-mojo-element="Drawer" id="the-address-drawer" style="display: none;">
  <div class="form-wrapper">
    <div class="palm-row">
      <div class="palm-row-wrapper textfield-group focused">
        <div class="title">
          <div id="address" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
    <div id="address-submit" x-mojo-element="Button"></div>
  </div>

  <div class="palm-inline-error" id="gps-failure" style="display: none;">
  	<div class="error-message">Unable to find your current location, try entering an address.</div>
  </div>

  <div class="palm-inline-error" id="address-failure" style="display: none;">
    <div class="error-message">Unable to find that location.</div>
  </div>
</div>

<div id="nothing-found" style = "display: none;">
  <div class="palm-body-text">No kiosks were found with that movie</div>
</div>

<div id="kiosks-error" style = "display: none;">
  <div class="palm-body-text">There was a problem locating kiosks</div>
</div>

<div id="kiosks" x-mojo-element="List"></div>
<div class="my-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
