<div class="palm-scrim"><div x-mojo-element="Spinner" name="spinner" class="spinner"></div></div>

<div id="main" class="palm-hasheader">
  <div class="palm-header center truncating-text" id="main-hdr"><span id="name"></span></div>
</div>

<div id="address-input" style="display: none;">
  <div class="palm-inline-error" id="gps-failure">
  	<div class="error-message">Unable to find your current location, try entering an address.</div>
  </div>

  <div class="palm-inline-error" id="address-failure" style="display: none;">
    <div class="error-message">Unable to find that location.</div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>Address</div>
    <div class="palm-list">
      <div class="palm-row single">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
            <div id="address" x-mojo-element="TextField"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div x-mojo-element="Button" id="locate-address"></div>
</div>

<div id="kiosks" x-mojo-element="List"></div>
<div class="my-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
