<div id="spinner-scrim" class="palm-scrim" style="display: none;">
    <div x-mojo-element="Spinner" name="spinner" class="spinner"></div>
</div>
<div id="menu-panel-scrim" class="palm-scrim menu-panel" x-mojo-menupanel-scrim="" style="display: none;"></div>

<div class="palm-menu-panel" x-mojo-menupanel="" style="display: none;">
    <div class="palm-menu-panel-wrapper" x-mojo-element="Scroller">
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group focused">
                <div class="title">
                    <div id="search-text" x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
        <div id="search-cancel" class="button" x-mojo-element="Button"></div>
        <div id="search-submit" class="button" x-mojo-element="Button"></div>
    </div>
</div>

<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div id="header" class="center truncating-text">Movies</div>
        <div id="search" class="my-right-icon"></div>
    </div>
</div>
<div class="palm-menu-spacer"></div>

<div id="nothing-found" style="display: none;">
    <div class="palm-body-text">No movies found.</div>
</div>

<div id="inventory-failure" style="display: none;">
    <div class="palm-body-text">Unable to retrieve inventory.</div>
</div>

<div id="movies" x-mojo-element="List"></div>
<div class="my-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>