<div class="palm-group">
	<div class="palm-group-title">Reserved</div>
	<div class="palm-info-text"><strong>#{movie.name}</strong></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Pick up by</div>
	<div class="palm-info-text"><strong>#{pickupBy}</strong></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Location</div>
  <div class="palm-info-text"><strong>#{kiosk.vendor}</strong></div>
  <div class="palm-info-text"><span>#{kiosk.address}</span></div>
  <div class="palm-info-text"><span>#{kiosk.city}, #{kiosk.state} #{kiosk.zip}</span></div>
</div>

<div id="find-another" class="palm-button">Find Another Movie</div>