<div id="main" class="palm-hasheader">
  <div class="palm-header center" id="main-hdr"><span id="movie-name"></div></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Movie</div>
	<div class="palm-info-text"><strong>Movie Name</strong></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Location</div>
  <div class="palm-info-text"><strong>Vendor</strong></div>
  <div class="palm-info-text"><span>address</span></div>
  <div class="palm-info-text"><span>city, state zip</span></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Pick up by</div>
	<div class="palm-info-text"><strong>Some Date</strong></div>
</div>


<div class="palm-button">Find Another Movie</div>
