<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div id="header" class="center truncating-text">Preferences</div>
        <div id="go-back" class="my-left-icon"></div>
    </div>
</div>
<div class="palm-menu-spacer"></div>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>Blu-Ray</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div x-mojo-element="CheckBox" class="left" id="bluray"></div>
                <div class="title">Show Blu-Ray</div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div x-mojo-element="CheckBox" class="left" id="dvd"></div>
                <div class="title">Show DVD</div>
            </div>
        </div>
    </div>
</div>
