.my-scene-fade-top {
	position: fixed;
	top: 0;
	z-index: 18000;
	height: 54px;
	width: 100%;
	background: url(../images/my-scene-fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.palm-dark .my-scene-fade-top {
	background-image: url(../images/my-scene-fade-top-dark.png);
}

.my-scene-fade-bottom {
	position: fixed;
	bottom: 0;
	z-index: 18000;
	height: 54px;
	width: 100%;
	background: url(../images/my-scene-fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.palm-dark .my-scene-fade-bottom {
	background-image: url(../images/my-scene-fade-bottom-dark.png);
}

.spinner-message {
  color: #333;
  text-align: center;
}

.clear {
  clear: both;
}

#bail-action {
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

/*
 * MOVIE LIST
 */
div.palm-row.movie div.palm-row-wrapper {
  background: url(../images/gradient.png) repeat-x 0 0;
}

div.palm-row.movie img {
  float: left;
  width: 75px;
  height: 108px
}

div.palm-row.movie div.palm-body-text {
  margin: 0px;
  font-size: 14px;
  line-height: 22px;
  color: gray;
}

div.palm-row.movie div.palm-body-text.movie-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #333;
}

div.palm-row.movie .movie-info {
  height: 108px;
  background: url(../images/details.png) center center no-repeat;
}

.movies-scene .palm-menu {
  z-index: 19200;
}

.movies-scene .palm-menu-panel {
  z-index: 19100;
}

.movies-scene .palm-menu-panel .palm-menu-panel-wrapper {
  padding-top: 32px;
}

.movies-scene #search-submit, .movies-scene #search-cancel, .movies-scene #search-all {
  width: 33%;
  float: left;
}

/*
 * MOVIE DETAIL
 */
div img {
 float: right;
 padding-right: 10px;
}

/*
 * KIOSK LIST
 */

div.palm-row.kiosk div.palm-row-wrapper {
  margin: 0;
  padding: 10px;
  background: url(../images/gradient.png) repeat-x 0 0;
}

div.palm-row.kiosk div.palm-info-text {
  margin: 4px;
  font-size: 16px;
}

div.palm-row.kiosk .icon {
  background-color: red;
  height: 70px;
  background: url(../images/details.png) center center no-repeat;
}

#nothing-found {
  padding: 15px;
}

#nothing.found .palm-body-text {
  font-size: 20px;
}

.locate-movie-scene .palm-header #name {
  float: left;
  width: 245px;
}

.locate-movie-scene #address-drawer {
  float: right;
  margin: 8px -12px 0px 0px;
  height: 35px;
  width: 35px;
}

.locate-movie-scene #address-drawer.closed {
  background: url(../images/open.png) center center no-repeat;
}

.locate-movie-scene #address-drawer.opened {
  background: url(../images/close.png) center center no-repeat;
}


/*
 * RESERVE MOVIE
 */
#reserve-form .palm-group {
  margin: 5px !important;
}

#reserve-form .palm-info-text {
  margin: 2px;
}

#reserve-form .palm-info-text strong, #cardSelector {
  font-weight: bold;
  color: #333;
}

#reserve-form #rated-r .palm-info-text {
  margin-top: 0;
  padding-top: 0;
}

#reserve-form table {
  border-collapse: collapse;
}

#reserve-form table .palm-info-text {
  margin: 1px;
}

/*
 * RESERVED MOVIE
 */
.reserved .palm-info-text {
  margin: 0;
  padding: 1px;
  line-height: 16px;
}
