body {
  background-color: #e4e4e2 !important;
}

.palm-page-header {
    position: fixed;
    top: 0;
    z-index: 19300;
    width: 100%;
    height: 50px;
}

.palm-page-header .center {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 13px 40px;
    background: url(../images/red.png) repeat-x;
}

.palm-page-header .my-right-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 19301;
}

.palm-page-header .my-left-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 19301;
}

.palm-page-header #search {
    background: url(../images/search.png) no-repeat center;
}

.palm-page-header #locate {
    background: url(../images/compass.png) no-repeat center;
}

.palm-page-header #reserve {
    background: url(../images/reserve.png) no-repeat center;
}

.palm-page-header #switch {
    background: url(../images/list.png) no-repeat center;
}

/*
 * GENERIC
 */
.menu-bar-spacer {
  height: 5px;
}

.spinner-message {
  color: #333;
  text-align: center;
}

.clear {
  clear: both;
}

#bail-action {
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.palm-menu-text img {
  width: 10px;
  height: 12px;
  padding-left: 5px;
  vertical-align: -2px;
}

/*
 * MENUBAR
 */
.view-menu.palm-menu {
  z-index: 19200;
}

.palm-menu-panel {
  z-index: 19100;
}

.palm-menu-panel .palm-menu-panel-wrapper {
  padding-top: 32px;
}

.palm-menu-panel .button {
   width: 50%;
   float: left;
 }

/*
 * MOVIE LIST
 */
div.palm-row.movie div.palm-row-wrapper, div.palm-row.game div.palm-row-wrapper {
  background: url(../images/gradient.png) repeat-x 0 0;
}

div.palm-row.movie img, div.palm-row.game img {
  float: left;
  width: 75px;
  height: 108px;
  padding-right: 10px;
}

div.palm-row.movie div.palm-body-text, div.palm-row.game div.palm-body-text {
  margin: 0px;
  font-size: 14px;
  line-height: 22px;
  color: gray;
}

div.palm-row.movie div.palm-body-text.movie-name, div.palm-row.game div.palm-body-text.game-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #333;
}

div.palm-row.movie .movie-info, div.palm-row.game .game-info {
  height: 108px;
  background: url(../images/rightarrow.png) center center no-repeat;
}

/*
 * MOVIE DETAIL
 */
.movie-scene img, .game-scene img {
 float: right;
 padding-right: 10px;
 padding-left: 10px;
}

/*
 * KIOSK LIST
 */

div.palm-row.kiosk div.palm-row-wrapper {
  margin: 0;
  padding: 10px;
  background: url(../images/gradient.png) repeat-x 0 0;
}

div.palm-row.kiosk div.palm-info-text {
  margin: 4px;
  font-size: 16px;
}

div.palm-row.kiosk .star {
  height: 70px;
  width: 40px;
  background: url(../images/notstarred.png) left center no-repeat;
}

div.palm-row.kiosk .star.on {
  background: url(../images/starred.png) left center no-repeat;
}

div.palm-row.kiosk .details {
  height: 70px;
  background: url(../images/rightarrow.png) left center no-repeat;
}

#nothing-found {
  padding: 15px;
}

#nothing.found .palm-body-text {
  font-size: 20px;
}

/*
 * RESERVE MOVIE
 */
#reserve-form .palm-group {
  margin: 5px !important;
}

#reserve-form .palm-info-text {
  margin: 2px;
}

#reserve-form .palm-info-text strong, #cardSelector {
  font-weight: bold;
  color: #333;
}

#reserve-form #rated-r .palm-info-text {
  margin-top: 0;
  padding-top: 0;
}

#reserve-form table {
  border-collapse: collapse;
}

#reserve-form table .palm-info-text {
  margin: 1px;
}

/*
 * RESERVED MOVIE
 */
.reserved .palm-info-text {
  margin: 0;
  padding: 1px;
  line-height: 16px;
}

/*
 * genres
 */
div.palm-row.genre div.palm-row-wrapper {
  background: url(../images/gradient.png) repeat-x 0 0;
}

div.genre div.palm-body-text {
  padding-top: 20px;
  padding-bottom: 30px;
}

div.palm-row.genre .details {
  height: 60px;
  background: url(../images/rightarrow.png) center center no-repeat;
}
