div.clear {
  clear: both;
}

/*
 *
 * All movies scene
 *
 */
div.palm-row.movie {
  margin: 0px;
  background: url(../images/gradient.png) repeat-x 0% 100%;
}

div.palm-row div.movie-title {
  font-weight: bold;
  padding-left: 10px;
  line-height: 26px;
  font-size: 16px;
}

div.palm-row div.movie-meta {
  font-weight: normal;
  padding-left: 10px;
  line-height: 24px;
  font-size: 14px;
}

div.palm-row.movie img {
  float: left;
  width: 75px;
  height: 108px
}

/*
 *
 * Individiual movie scene
 *
 */

div.palm-group.movie img {
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
}

div.palm-group.movie div {
  margin-bottom: 5px;
  font-size: 13px;
}
