<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Email Address</div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="username" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Password</div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="password" x-mojo-element="PasswordField"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="login-failure" class="palm-info-text" style="display: none;">Try again</div>

<div x-mojo-element="Button" id="login"></div>
