<div class="palm-group">
	<div class="palm-group-title">Details</div>
	<table>
    <tr>
      <td><div class="palm-info-text"><strong>Pickup by:</strong></div></td>
      <td><div class="palm-info-text">#{cart.pickupBy}</div></td>
    </tr>
    <tr>
      <td><div class="palm-info-text"><strong>Price:</strong></div></td>
      <td><div class="palm-info-text">#{cart.price}</div></td>
    </tr>
    <tr>
      <td><div class="palm-info-text"><strong>Tax:</strong></div></td>
      <td><div class="palm-info-text">#{cart.tax}</div></td>
    </tr>
    <tr>
      <td><div class="palm-info-text"><strong>Total:</strong></div></td>
      <td><div class="palm-info-text">#{cart.total}</div></td>
    </tr>
  </table>
</div>

<div class="palm-group">
	<div class="palm-group-title">Location</div>
	<div class="palm-info-text"><strong>#{kiosk.vendor}</strong></div>
	<div class="palm-info-text">#{kiosk.address}</div>
	<div class="palm-info-text">#{kiosk.city}, #{kiosk.state} #{kiosk.zip}</div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Credit Card</div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
        <div x-mojo-element="ListSelector" id="cardSelector"></div>
      </div>
    </div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Card Verification Code</div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="cvc" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Terms of Use</div>
	<div class="palm-info-text">By clicking "Confirm Reservation" I understand that my credit card will be charged for my first night's rental plus tax. The rental period for my title will begin immediately after the "Checkout" button is clicked, and I will have until 9:00 p.m. tomorrow to view and return the DVD. If I do not pick my DVD up by 9:00 p.m. tomorrow, it will be released for other customers to rent. I also agree to redbox's Terms of Use.</div>
</div>

<div id="rated-r" class="palm-group" style="display: none;">
	<div class="palm-group-title">Age Verification</div>
	<div x-mojo-element="CheckBox" id="eighteen"></div>
	<div class="palm-info-text">This movie is rated 'R'. Please check this box to verify you are 18 or older.</div>
</div>

<div class="palm-inline-error" style="display:none" id="reserve-failure">
	<div id="reserve-failure-message" class="error-message"></div>
</div>

<div x-mojo-element="Button" id="confirm"></div>
