<div x-mojo-element="Spinner" class="spinner" id="reserve-spinner"></div>

<div id="reserve-form" style="display: none">
  <div class="palm-group">
  	<div class="palm-group-title">Movie</div>
  </div>

  <div class="palm-group">
  	<div class="palm-group-title">Location</div>
  </div>

  <div class="palm-group">
  	<div class="palm-group-title">Price</div>
    <table>
      <tr>
        <td><div class="palm-info-text"><strong>Price:</strong></div></td>
        <td><div class="palm-info-text" id="movie-price"></div></td>
      </tr>
      <tr>
        <td><div class="palm-info-text"><strong>Tax:</strong></div></td>
        <td><div class="palm-info-text" id="movie-tax"></div></td>
      </tr>
      <tr>
        <td><div class="palm-info-text"><strong>Total:</strong></div></td>
        <td><div class="palm-info-text" id="movie-total"></div></td>
      </tr>
    </table>
  </div>

  <div class="palm-group">
  	<div class="palm-group-title">Credit Card</div>
  </div>

  <div class="palm-group">
  	<div class="palm-group-title">Terms of Use</div>
  	<div class="palm-info-text">By clicking "Confirm Reservation" I understand that my credit card will be charged for my first night's rental plus tax. The rental period for my title will begin immediately after the "Checkout" button is clicked, and I will have until 9:00 p.m. tomorrow to view and return the DVD. If I do not pick my DVD up by 9:00 p.m. tomorrow, it will be released for other customers to rent. I also agree to redbox's Terms of Use.</div>
  </div>

  <div class="palm-button affirmative">Confirm Reservation</div>
</div>
