<div id="main" class="palm-hasheader">
  <div class="palm-header center" id="main-hdr"><span id="name"></span></div>
</div>
<img id="image" src="">
<div class="palm-body-text"><strong>Released: </strong><span id="released"></span></div>
<div class="palm-body-text"><strong>Yahoo Rating: </strong><span id="yahoo"></span></div>
<div class="palm-body-text"><strong>Running Time: </strong><span id="running-time"></span></div>
<div class="palm-body-text"><strong>Rated: </strong><span id="rating"></span></div>
<div class="palm-body-text"><strong>Staring: </strong><span id="actors"></span></div>
<div class="palm-body-text"><strong>Genres: </strong><span id="genre"></span></div>
<div class="palm-body-text"id="description"></div>
