<div id="menu-panel-scrim" class="palm-scrim menu-panel" x-mojo-menupanel-scrim=""></div>

<div class="palm-menu-panel" x-mojo-menupanel="">
	<div class="palm-menu-panel-wrapper" x-mojo-element="Scroller">
    <div class="palm-row">
      <div class="palm-row-wrapper textfield-group focused">
        <div class="title">
          <div id="locate-text" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
    <div id="locate-cancel" class="button" x-mojo-element="Button"></div>
    <div id="locate-submit" class="button" x-mojo-element="Button"></div>
  </div>
</div>

<div id="content">
</div>
