<div class="menu-bar-spacer"></div>
<img id="img-{id}" src="file://#{cacheDirectory}/#{image}">
<div class="palm-body-text"><strong>Title: </strong>#{name}</div>
<div class="palm-body-text"><strong>Released: </strong>#{releasedDisplay}</div>
<div class="palm-body-text"><strong>Running Time: </strong>#{runningTime}</div>
<div class="palm-body-text"><strong>Rated: </strong>#{rating}</div>
<div class="palm-body-text"><strong>Staring: </strong>#{actors}</span></div>
<div class="palm-body-text"><strong>Genres: </strong>#{genre}</div>
<div class="palm-body-text">#{description}</div>
